<h2>编辑版本</h2>
<hr>
<form action="/versions/update/<%= version.id %>" method="POST" class="form-horizontal">
	<%- partial ('../common/error_shower.ejs') %>
	<div class="form-group">
		<label class="col-sm-2 control-label">版本号:</label>
		<div class="col-sm-3">
			<input value="<%= version.number%>" placeholder="版本号" name="number" type="text" class="form-control"/>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">应用:</label>
		<div class="col-sm-3">
			<select name="app" class="form-control">
				<% if(apps){%>
				<% _.each(apps,function(app){%>
				<option value="<%=app.id%>"><%=app.name%></option>
				<%}) %>
				<%}%>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">操作系统:</label>
		<div class="col-sm-3">
			<select name="os_type" class="form-control">
				<option value="android"  <%= version.os_type=='android'?'selected':''%> > Android</option>
				<option value="ios" <%= version.os_type=='ios'?'selected':''%> >IOS</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">描述:</label>
		<div class="col-sm-3">
			<textarea placeholder="版本描述" name="desc" type="text" class="form-control"><%= version.desc%></textarea>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">强制更新:</label>
		<div class="col-sm-3">
			<input name="mode" type="checkbox" <%=version.mode?'checked':''%>/>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">下载地址:</label>
		<div class="col-sm-3">
			<input value="<%= version.download_url%>" placeholder="下载地址" name="download_url" type="text" class="form-control"/>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-4">
			<a class="btn btn-default btn-medium" href="/versions/index">返回</a>
			<input type="submit" value="更新" class="btn btn-primary btn-inline"/>
		</div>
	</div>
	
</form>